[submodule "thirdparty/Probable-Wordlists"]
	path = thirdparty/Probable-Wordlists
	url = https://github.com/berzerk0/Probable-Wordlists.git
[submodule "thirdparty/CLI11"]
	path = thirdparty/CLI11
	url = git@github.com:CLIUtils/CLI11.git
