[submodule "sha_lab/thirdparty/Probable-Wordlists"]
	path = sha_lab/thirdparty/Probable-Wordlists
	url = https://github.com/berzerk0/Probable-Wordlists.git
[submodule "sha_lab/thirdparty/CLI11"]
	path = sha_lab/thirdparty/CLI11
	url = git@github.com:CLIUtils/CLI11.git
