[submodule "thirdparty/passwords/Probable-Wordlist"]
	path = thirdparty/passwords/Probable-Wordlist
	url = git@github.com:berzerk0/Probable-Wordlists.git
[submodule "thirdparty/CLI11"]
	path = thirdparty/CLI11
	url = git@github.com:CLIUtils/CLI11.git
